{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Snapswer</title>
        {% load staticfiles %}
        {% load category_tag %}
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% compress css %}
        <!-- before production, make all these min version -->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"></link>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/signin.css" %}">

        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}"></link>
        {% endcompress %}

        <link rel="stylesheet" href="/static/social/css/zocial.css">  

        {% compress js %}
        <!-- jquery -->
        <script src="{% static "jquery/jquery-2.0.3.js" %}"></script>
        <!-- jquery-cookie-library -->
        <script src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
        <!-- bootstrap -->
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% endcompress %}
        <!-- facebook -->
        {% include 'django_facebook/_facebook_js.html' %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41419132-2', 'snapswer.com');
          ga('send', 'pageview');
        </script>

        {% block header %}
        {% endblock %}      
    </head>
    
     <body class="snapswer-background">
        <div class="vertical-position-center">
            <div class="tw-bs form-signin">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
