{% extends 'accounts/base.html' %}

{% block head %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}
        {% load static %}
        <form method="post">
            <h2 class="form-signin-heading"><image class="form-signin-heading-logo" src="{% static "images/logo_2.png" %}"></image></h2>
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">Please enter correct username and password</div>
            {% endif %}
            <input type="text" autofocus="" placeholder="Username or Email address" class="form-control signin-username" name="username" id="id_username">
            <input type="password" placeholder="Password" class="form-control signin-pwd" name="password" id="id_password">
            <a class="form-signin-link" href="{% url 'django.contrib.auth.views.password_reset' %}">Can't access your account?</a>
            <button type="submit" onClick="ga('send', 'event', 'accounts', 'login');" class="btn btn-lg btn-primary btn-block signin-btn">Sign in</button>

            <a href="#" onClick="register();" class="form-signin-link">Sign up for a new account</a>
        </form>
        <hr>
        <form class="form-facebook" action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <a class="zocial facebook form-facebook-signin-link" href="javascript:void(0);" onclick="F.connect(this.parentNode);" onClick="ga('send', 'event', 'accounts', 'fb_login');" style="text-decoration: none">Sign in with Facebook</a>
            <input type="hidden" value="{{ request.GET.next }}" name="next" />
            <input type="hidden" value="{{ request.GET.next }}" name="register_next" />
            <input type="hidden" value="{{ request.get_full_path }}" name="error_next" />
            <div id="facebook_div"/>
            {% csrf_token %} 
        </form>

        <script>
            function register() {
                window.location = "/accounts/register/?next="+"{{ request.GET.next }}";
            }
        </script>
{% endblock %}