{% extends 'core/base.html' %}

{% block header %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="/static/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
<script src="{% static "fancyBox/source/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "spin.min.js" %}"></script>
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <div class="tw-bs">
    	<div class="container">

    		<div class="row">
    			<div class="col-md-7 col-md-offset-2 deepshadow" style="background:white; padding: 20px; position:relative">

                <ul class="nav nav-pills">
                    <li><a href="{% url "accounts:profile" %}">Update Profile</a></li>
                    <li class="active"><a href="{% url "accounts:password" %}">Update Password</a></li>
                </ul>

                <hr>
    				<div style="position:relative; padding-bottom: 10px">
    					<div style="float:left; padding-left:20px">
                            <div>

                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% for error in form.old_password.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {{ form.old_password|attr:"class:form-control input-lg"|attr:"placeholder:Old password"|attr:"autocomplete:off" }}
                                </div>
                                <div class="form-group">
                                    {% for error in form.new_password1.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {{ form.new_password1|attr:"class:form-control input-lg"|attr:"placeholder:New password"|attr:"autocomplete:off"}}
                                </div>
                                <div class="form-group">
                                    {% for error in form.new_password2.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {{ form.new_password2|attr:"class:form-control input-lg"|attr:"placeholder:Confirm new password"|attr:"autocomplete:off"}}
                                </div>
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Update</button>
                            </form>

                            </div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}