{% extends 'core/base.html' %}

{% block header %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="/static/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
<script src="{% static "fancyBox/source/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "spin.min.js" %}"></script>

<script>
    $(document).ready(function() {
        $('#id_avatar_btn').click(function(){
            $('#id_profile_pic').click();
        });
    });

    function readImage(input) {
        if (input.files && input.files[0])
        {
            var reader = new FileReader();

            reader.addEventListener("load", function(event) {
                $('#id_avatar_img').attr('src', event.target.result)
            });

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

{% block content %}
    {% load thumbnail %}
    <div class="tw-bs">
    	<div class="container">

    		<div class="row">
    			<div class="col-md-7 col-md-offset-2 deepshadow" style="background:white; padding: 20px; position:relative">

                <ul class="nav nav-pills">
                    <li class="active"><a href="{% url "accounts:profile" %}">Update Profile</a></li>
                    <li><a href="{% url "accounts:password" %}">Update Password</a></li>
                </ul>

                <hr>
    				<div style="position:relative; padding-bottom: 10px">
    					<img class="lightshadow" src="/media/{{ user.profile.profile_pic }}" style="width: 100px; height: 100px;  float: left;" id="id_avatar_img">
                        </img>
    					<div style="float:left; padding-left:20px">
    						<h4>{{ user.username }}</h4>

    						<div style="padding-bottom: 20px">
                            <button class="btn btn-small" id="id_avatar_btn">Change avatar</button>
                            </div>

                            <div>

                            <form role="form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.profile_pic|attr:"style:display:none"|attr:"onchange:readImage(this);"|attr:"accept:image" }}
                                </div>
                                <div class="form-group">
                                    {% for error in form.profile_pic.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {% for error in form.first_name.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {{ form.first_name|attr:"class:form-control input-lg"|attr:"placeholder:First name"}}
                                </div>
                                <div class="form-group">
                                    {% for error in form.last_name.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {{ form.last_name|attr:"class:form-control input-lg"|attr:"placeholder:Last name"}}
                                </div>
                                <div class="form-group">

                                    {% for error in form.email.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}

                                    {{ form.email|attr:"class:form-control input-lg"|attr:"placeholder:Email"}}
                                </div>
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Update</button>
                            </form>

                            </div>
    					</div>
    				</div>
    			</div>

    		</div>
    		
    	</div>
    </div>
{% endblock %}