{% extends 'core/base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="/static/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
<script src="{% static "fancyBox/source/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "spin.min.js" %}"></script>
<script src="{% static "js/board.js" %}"></script>
{% endblock %}

{% block content %}
	{% load thumbnail %}

	<div class="tw-bs container">
		<div class="row" style="margin-bottom:30px">
			<!--div class="col-md-8 panel col-md-offset-2 deepshadow" style="background:white; height:165px;">

			</div-->
			<div class="col-md-8 col-md-offset-2 deepshadow" style="background:white; height:190px;">
				<a href="/{{username}}.{{id}}/" class="pull-left">
                  <img src="/media/{{profile.profile_pic}}" alt="64x64" class="media-object" style="margin:0px; width: 170px; height: 190px;">
                </a>
                <div style="padding-left:190px">
	                <div style="height:30px; padding-top:10px">
	                	<span><strong>{{username}}</strong>
	                	{% if username != user.username %}
							<button id="id_follow_button" type="button" class="btn btn-danger"
							onclick="return onFollowClick();">
							{% if followed %}
								Unfollow
							{% else %}
								Follow
							{% endif %}
						{% endif %}
						</button></span>
	                </div>
	                <div class="text-muted" style="float:clear; padding-top:23px; height:120px">
	                	<small>{{ profile.about }}</small>
	                </div>
					<button type="button" class="btn btn-primary" onclick="return onBoardLinkClick('snapswer');">{{ snapswer_cnt}} Snapswers</button>
					<button type="button" class="btn btn-primary" onclick="return onBoardLinkClick('following');">{{follow_question_cnt}} Following</button>
					<button type="button" class="btn btn-primary" onclick="return onBoardLinkClick('voted');">{{ vote_question_cnt }}
					Like</button>
					<button type="button" class="btn btn-primary" onclick="return onBoardLinkClick('question');">
					{{ question_cnt }} Questions</button>
                </div>
			</div>
		</div>
	</div>

	<div id="board" role="main" style="margin-left: auto;margin-right: auto;padding-bottom:15px">
        <ul id="tiles">
        </ul>
    </div>

	<script>
        var board;
        $(document).ready(function() {
	        var options = {
	            autoResize: true, // This will auto-update the layout when the browser window is resized.
	            container: $('#board'), // Optional, used for some extra CSS styling
	            offset: 6, // Optional, the distance between grid items
	            itemWidth: 313 // Optional, the width of a grid item
            };
        	
        	board = new QuestionBoard(100, '/accounts/board/{{username}}/question/', true, options);

            $.ajax({type: "GET",
                url: "/core/getseq/",
                success: function(data) {
                    board.curTimestamp = data.seq;
                    return false;
                },
                dataType: "json"
            });

            board.init();
        });

        function onFollowClick(board_type)
        {
        	$.ajax({type: "POST",
        			url: "/accounts/follow/user/{{id}}/",
        			success: function(data) {
        				if (data.data.action == "unfollow") 
        				{
        					$('#id_follow_button').html("Follow");
        				}
        				else
        				{
        					$('#id_follow_button').html("Unfollow");
        				}
        			},
        			dataType: "json"
        	});
        }

        function onBoardLinkClick(board_type)
        {
        	var tiles = document.getElementById("tiles");
        	tiles.innerHTML = ""

        	if (board_type == "snapswer")
        	{
	        	board = new AnswerBoard(100, '/accounts/board/{{username}}/' + board_type + '/');

	            $.ajax({ type: "GET",
	                url: "/core/getseq/",
	                success: function(data) {
	                    board.curTimestamp = data.seq;
	                    return false;
	                },
	                dataType: "json"
	            });

	            board.init();
        	}
        	else
        	{
	        	var options = {
	                autoResize: true, // This will auto-update the layout when the browser window is resized.
	                container: $('#board'), // Optional, used for some extra CSS styling
	                offset: 6, // Optional, the distance between grid items
	                itemWidth: 313 // Optional, the width of a grid item
            	};

        		board = new QuestionBoard(100, '/accounts/board/{{username}}/' + board_type + '/', true, options);

	            $.ajax({ type: "GET",
	                url: "/core/getseq/",
	                success: function(data) {
	                    board.curTimestamp = data.seq;
	                    return false;
	                },
	                dataType: "json"
	            });

	            board.init();

        	}

        	return false;
        }

    </script>

{% endblock %}