{% extends 'accounts/base.html' %}

{% block head %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}
        {% load static %}
            <form method="post" >
                <h2 class="form-signin-heading"><image class="form-signin-heading-logo" src="{% static "images/logo_2.png" %}"></image></h2>
                {% csrf_token %}
                {% for error in form.username.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <input type="text" autofocus="" placeholder="Username" class="form-control reg-username" name="username" id="id_username">
                
                {% for error in form.email.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <input type="text" placeholder="Email address" class="form-control reg-email" name="email" id="id_email">
                
                {% for error in form.password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <input id="id_password1" name="password1" type="password"
                placeholder="Password" class="form-control reg-pwd">

                {% for error in form.password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <input id="id_password2" name="password2" type="password"
                placeholder="Password Confirmation" class="form-control reg-pwd2">

                <button type="submit" onClick="ga('send', 'event', 'accounts', 'register');" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                <a href="#" onClick="login();" class="form-signin-link">Already have account?</a>
            </form>
            <hr>
            <form class="form-facebook" action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <a class="zocial facebook form-facebook-signin-link" href="javascript:void(0);" onclick="F.connect(this.parentNode);" onClick="ga('send', 'event', 'accounts', 'fb_login');" style="text-decoration: none;">Sign in with Facebook</a>
                <input type="hidden" value="{{ request.GET.next }}" name="next" />
                <input type="hidden" value="{{ request.GET.next }}" name="register_next" />
                <input type="hidden" value="{{ request.get_full_path }}" name="error_next" />
                {% csrf_token %} 
                <div id="facebook_div"/>
            </form>

            <script>
                function login() {
                    window.location = "/accounts/login/?next="+"{{ request.GET.next }}";
                }
            </script>
{% endblock %}
