.navbar-brand img {
	
	padding-top:5px;
	padding-bottom: 0px;
}

.tw-bs .navbar-inverse .navbar-brand {
	padding-top:3px;
	padding-bottom:0px;
}

.tw-bs .navbar-inverse {
	background-color: #424B5C;
	border-color: #554554;
}

.about-info {
	padding: 80px 15px 30px 15px;
	text-align: center;
}

.tw-bs h2 {
	font-family: "Abril Text Regular", serif;
	font-size: 40px;
}

.lightshadow {
	-moz-box-shadow: 1px 1px 2px 2px #ccc; 
	-webkit-box-shadow: 1px 1px 2px 2px #ccc; 
	box-shadow: 1px 1px 2px 2px #ccc;
}

.deepshadow {
	-moz-box-shadow: 2px 2px 3px 3px #ccc; 
	-webkit-box-shadow: 2px 2px 3px 3px #ccc; 
	box-shadow: 2px 2px 3px 3px #ccc;
}

.tw-bs .btn-xlg {
	padding: 10px 36px;
	font-size: 20px;
	line-height: 1.33;
	border-radius: 6px;
}

.base-background {
	background: url("../images/ticks.png") repeat fixed;
}

.terms-info {
	padding: 110px 15px;
}

.tw-bs .snapswer-about-title {
    color: #1F1919;
    font-size: 33px;
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.about-footer {
	padding-top: 40px;
}

.about-footer-li {
	padding-left: 20px;
}

.about-copyright-li {
	padding-left: 50px;
}

@media screen and (max-device-width: 480px) {
	.terms-info {
		padding: 10px 15px;
	}

	#about_image_block {
		display:none;
	}

	.about-info {
		padding: 0px 15px 0px 15px;
		text-align: center;
	}

	.about-footer {
		padding-top: 20px;
	}

	.about-footer-li {
		padding-left: 0px;
	}

	.about-copyright-li {
		padding-left: 0px;
	}
}

@media screen and (max-device-width: 480px) {
    .about-container {
    	padding-top: 40px;
		padding-bottom: 20px;
    }
}

.tw-bs .copyright-text {
	color: #444;
}

.tw-bs .about-footer-text {
	color: #888;
}

.screenshot {
	padding-top: 50px;
}

