html {
  font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}

.base-background {
	background: url("../images/ticks.png") repeat fixed;
}

.categorymenu li {
	list-style-type: none;
	padding: 3px 1px 1px 1px;
}

.categorymenu {
	background: #F8F8F8;
	margin-top: 0px;
	margin-bottom: 0px;
}

.deepshadow {
	-moz-box-shadow: 2px 2px 3px 3px #ccc; 
	-webkit-box-shadow: 2px 2px 3px 3px #ccc; 
	box-shadow: 2px 2px 3px 3px #ccc;
}

.lightshadow {
	-moz-box-shadow: 1px 1px 2px 2px #ccc; 
	-webkit-box-shadow: 1px 1px 2px 2px #ccc; 
	box-shadow: 1px 1px 2px 2px #ccc;
}

.vertical-position-center {
	position: absolute;
	top: 50%;
	margin-top: -200px;/* half of #content height*/
	left: 0;
	width: 100%;
}

.hidden {
	display:none;
}

.sidebar-btn {
	z-index:1001;
	background-color:rgba(30, 30, 30, 0.75);
	color:#EEE;padding:2px 8px 0px 8px;
	border-radius:4px 4px 0px 0px;
	position:fixed;
	left:-34px;
	top:220px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);'
}

.nav-snapswer-dropdown {
	padding:5px 15px;
	font-size:12px;
	width:200px;
	font-weight:bold;
}

.main-navbar-icon {
	text-align:right
}

.tw-bs .navbar-default {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-nav {
	padding:0px;
}

.navbar .brand {
	padding: 0px;
}

.plain-text-link {
	text-decoration:none;
}

.tnav .navbar .container { height: 28px; }
.navbar-brand img {

	padding-top:5px;
	padding-bottom: 0px;
}

.container {
	padding-bottom: 50px;
}

@media screen and (max-device-width: 480px) {
    .container {
		padding-bottom: 20px;
    }
}

.tw-bs .navbar-inverse {
	background-color: #333333;
	border-color: #554554;
}

.tw-bs h2 {
	font-size:35px;
	font-weight: bold;
}

.tw-bs .back-to-top {
	position:fixed;
	z-index:50;
	bottom:20px;
	right:20px;
}

.tw-bs .navbar-inverse .navbar-brand {
	padding-top:1px;
	padding-bottom:0px;
}

.tw-bs h2 {
	font-family: "Abril Text Regular", serif;
}

.navbar-brand {
	position: absolute;
    left: 50%;
    width: 200px;  /* bootstrap has max-width: 200px rule */
    margin-left: -100px;
    text-align: center;
}

.center {
	text-align: center;
}

.tw-bs .main-navbar-gift {
	display: none !important;
}

.footer-inline {
	display: inline;
}

.block {
	display: block;
}

#logo {
	width:220px;
	height:60px;
}

@media screen and (max-device-width: 480px) {
	.tw-bs .main-navbar-gift {
		display: block !important;
	}

	.tw-bs .main-navbar-gift-left {
		display: none !important;
	}

	.footer-inline {
		display: block;
	}

	#logo {
		margin-top:5px;
		width:140px;
		height:36px;
	}
}