/**
 * Grid container
 */
#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
}

/**
 * Grid items
 */
#tiles li {
    /*width: 230px;*/
    background-color: #f5f5f5;
    border: 1px solid #999;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 1px 1px 1px 1px #ccc; 
    -webkit-box-shadow: 1px 1px 1px 1px #ccc; 
    box-shadow: 0.2px 0.2px 10px #666;
    border-radius: 0px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
}

#tiles li img {
    display: block;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/**
 * Grid item text
 */
#tiles li p {
    color: #000;
    font-size: 12px;
    margin: 7px 0 0 7px;
}

/**
 * Some extra styles to randomize heights of grid items.
 */

 /** General page styling **/

html {
    background-color: transparent;
}

#main {
    padding: 30px 0 30px 0;
}

header h1 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0 3px 0;
}

header p {
    text-align: center;
    font-size: 13px;
    color: #777;
    margin: 0;
}

.tw-bs .snapswer-board-title {
    color: #1F1919;
    font-size: 33px;
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

@media screen and (max-device-width: 480px) {
    .tw-bs .snapswer-board-title {
        font-size: 20px;
        font-weight: normal;
    }
}

.snapswer-board-container {
    color:#666;
    text-align:center;
    padding-bottom:25px;
    padding-top: 50px;
}

@media screen and (max-device-width: 480px) {
    .snapswer-board-container {
        padding-bottom: 20px;
        padding-top: 0px;
    }
}

.snapswer-board {
    margin-left: auto;
    margin-right: auto;
    padding-bottom:15px;
}

.empty-board-button {
    padding: 5px 0px 5px 0px;
}

#feedback {
    width:500px;height:134px
}

.image-preview {
    max-width:250px;
    max-height:200px;
    border:1px solid #dedede;
}

.image-upload-input-text-box {
    width:400px;
}

.image-link-input-text-box {
    width:500px;
}