body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.snapswer-background {
    background: url("../images/signinbg.png") no-repeat center center fixed;
    background-size: cover;
}

.form-signin {
  margin: 0 auto;
  max-width:400px;
  width:70%;
  background: #333333;
  padding:10px 40px 30px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: 1px 1px 1px 1px #ccc; 
  -webkit-box-shadow: 1px 1px 1px 1px #ccc; 
  box-shadow: 3px 3px 10px #000;
  border-radius: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form-signin .form-signin-heading-logo {
  width:319px;
  width:90%;
}

.form-signin .form-signin-heading-label {
  color: white;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-weight: bold;
}


.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .signin-username {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin .signin-pwd {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .signin-btn {
  margin-top: 10px;
}

.form-signin .reg-username {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin .reg-email {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin .reg-pwd {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin .reg-pwd2 {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-signin-link {
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 12px;
}

.form-signin .form-signin-link:hover {
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 12px;
}

.form-facebook {
  padding-top:10px;
}

.form-signin .form-facebook-signin-link {
  font-size: 20px;
  text-decoration: none;
}

.form-signin .form-facebook-signin-link:hover {
  font-size: 20px;
  color: white;
}