{% extends 'accounts/base.html' %}

{% block content %}
        {% load static %}
		    <form method="post">
		    	<h2 class="form-signin-heading"><image class="form-signin-heading-logo" src="{% static "images/logo_2.png" %}"></image></h2>
		        <h4 class="form-signin-heading-label">Enter your registered email to reset password</h4>
		        {% csrf_token %}
		        {% for error in form.email.errors %}
		            <p class="text-danger">{{ error }}</p>
		        {% endfor %}

		        <input id="id_email" maxlength="254" name="email" type="text" placeholder="Email address" class="form-control">

		        <button type="submit" class="btn btn-lg btn-primary btn-block signin-btn">Reset</button>
		    </form>
{% endblock %}