{% extends "core/base.html" %}

{% block content %}
    <div class="tw-bs">
        <div class="container" style="width:35%">
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <h4 class="form-signin-heading-label">Please enter your new password</h4>
            {% if form.errors %}
                <p class="text-danger">Invalid password input</p>
            {% endif %}
            <p>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control" autocomplete="off" placeholder="New password">
            </p>
            <p>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control" autocomplete="off" placeholder="New password confirmation">
            </p>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p class="text-info">The password reset link was invalid, possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
        </div>
    </div>
{% endblock %}


