{% extends 'core/base.html' %}

{% block content %}
	<div class="tw-bs">
    <div class="container">
        <h4>Thanks you</h4>
        <p>Your password has been set.  You may go ahead and <a href="{% url 'accounts:login' %}">log in</a> now.</p>
    </div>
	</div>
{% endblock %}