{% extends "core/base.html" %}
{% block content %}
    <div class="tw-bs">
    	<div class="container">
        <h4>Success!</h4>
        <p class="text-info">We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <p class="text-info">You should be receiving it shortly.</p>
        <a href="{% url 'accounts:login' %}">Back to login</a>
    	</div>
    </div>
{% endblock %}