<script id="answer_template" type="text/html">
    <li id="container[[ id ]]" style="width:[[ thumb_width ]]px">
        <div>
            <a id="single_image[[ id ]]" href="[[ image_url ]]" title="[[ detail ]] -- by [[ owner ]]">
                <div id="snapswer_mask[[ id ]]" style="display:none; z-index:500; top:0; right:0; position:absolute; left:0; bottom:0;background-image: -webkit-linear-gradient(top , rgba(30,30,30,0.13), rgba(8,8,8,0.38), rgba(3,3,3,0.58), rgba(1,1,1,0.65) 100%);">
                    <div style='color:white;position:absolute;bottom:8px;left:10px;padding:3px;border-radius: 5px;"><span style="0 0 16px rgba(0,0,0,0.46); font-weight:bold; font:normal 14px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif; font-size: 15px'><span id="like_count_label[[ id ]]">[[ like_count ]]</span> like</div>
                </div>
            </a>

            <img src="[[ thumb_url ]]" width="[[ thumb_width ]]px" height="[[ thumb_height ]]px"/>
            <div id="pic_tool_bar[[ id ]]" style="display:none;position:absolute;z-index:600;top:10px;left:3px;"  class="tw-bs btn-toolbar">
                <button id="answer_like_[[id]]" class="btn btn-small btn-warning" type="button" onClick="board.like([[id]]);"><span style="font-size:11px" class="snapswer-icon-thumbs-up"></span></button>
                <a id="feedback_inline" href="#emailModal[[id]]"><button id="answer_email_[[id]]" style="margin-left:0px" class="btn btn-small btn-info" type="button"><span style="font-size:11px" class="snapswer-icon-mail"></span></button></a>
                <button id="answer_fb_[[id]]" style="margin-left:0px;color:#ffffff;background-color:#3b5997;border-color:#355290" class="btn btn-small" type="button"><span style="font-size:11px" class="snapswer-icon-facebook"></span></button>
                <button id="answer_tw_[[id]]" style="margin-left:0px;color:#ffffff;background-color:#41b7d8;border-color:#36b0d1" class="btn btn-small" type="button"><span style="font-size:11px" class="snapswer-icon-twitter"></span></button>
                <button id="answer_gp_[[id]]" style="margin-left:0px;color:#ffffff;background-color:#d64937;border-color:#cf4230" class="btn btn-small" type="button"><span style="font-size:11px" class="snapswer-icon-gplus"></span></button> 
            </div>
            <div class="hidden">
                <div id="emailModal[[id]]" class="tw-bs">
                    <div class="modal-header">
                        <h4 id="myModalLabel"><strong>Share with friends:</strong></h4>
                    </div>

                    <div class="modal-body"> 
                        <div class="form-group" id="alert-area">
                        </div>
                            
                        <div class="form-group">
                            <span class="help-block">Email addresses: (comma separated)</span>
                        </div>

                        <div class="form-group">
                            <textarea class="form-textbox form-control input-lg" rows="1" id="email[[id]]" name="email" placeholder="Email addresses..."></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg" onClick="shareWithEmail([[id]]);">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>

<script id="empty_answer_template" type="text/html">
        <div class="tw-bs center">
            <p style="padding: 5px 0px 5px 0px;font-style:italic">Be the first one to post Snapswer</p>
            <div class="empty-board-button">
            <a id="addSnapswer" onClick="createUploadAnswerForm();" href="#uploadAnswerModal"><button style="width:270px" class="btn btn-lg btn-primary" type="button"><span class="snapswer-icon-upload"></span> Upload a Snapswer</button></a>
            </div>
            <div class="empty-board-button">
            <a onClick="createUploadUrlForm();" href="#addAnswerWebModal" id="addSnapswer"><button class="btn btn-lg btn-primary" type="button"><span class="snapswer-icon-upload-cloud"></span> Add Snapswer from Web</button></a>
            </div>
        </div>
</script>

<script id="question_template" type="text/html">
    <li id="container[[ id ]]" style="width:300px">
        <div>
            <a href="/content/board/[[ id ]]">
                <img src="[[ thumb_url ]]" width="[[ thumb_width ]]px" height="[[ thumb_height ]]px"/>
            </a>
            <div id="pic_tool_bar[[ id ]]" style="display:none;position:absolute;top:20px;left:20px" class="tw-bs btn-group">
                <button id="question_answer_[[id]]" class="btn btn-small btn-danger" type="button" onClick="board.like([[id]]);"><i class="glyphicon glyphicon-plus"></i></button>
                <button id="question_follow_[[id]]" class="btn btn-small btn-success" type="button" onClick="board.follow([[id]]);"><i class="glyphicon glyphicon-eye-open"></i></button>
                <button id="question_like_[[id]]" class="btn btn-small btn-warning" type="button" onClick="board.like([[id]]);"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                <button id="question_fb_[[id]]" class="btn btn-small btn-primary" type="button" onClick="board.like([[id]]);"><i class="glyphicon glyphicon-share"></i></button>
                <button id="question_tw_[id]]" class="btn btn-small btn-info" type="button" onClick="board.like([[id]]);"><i class="glyphicon glyphicon-share"></i></button>
                <!--button id="share_popover[[id]]" rel="popover" class="btn btn-small" type="button"><i class="icon-share"></i></button-->
                
            </div>
            <div class="tw-bs" style="background-color:rgba(255, 255, 255, .7);width:290px;position:absolute;color:#112e4e;bottom:0px;line-height:20px;padding:5px 5px"><h4><strong>[[ title ]]<strong> 
                </h4>

                <div class="text-info" style="font-size:11px;">
                    <span id="follow_count_label[[ id ]]">[[ follow_count ]]</span> <span>Follow</span>
                    <span id="like_count_label[[ id ]]">[[ like_count ]]</span> <span>Like</span>
                </div>
            </div>
        </div>
    </li>
</script>