{% extends 'core/base.html' %}

{% block header %}
{% load static %}
{% endblock %}

{% block content %}
	<div class="tw-bs">
		<div class="row">
			<div class="col-md-7 col-md-offset-3 deepshadow" style="background:white;">
				<h4>Your Notificaffftions</h4>
				<hr>
				{% for event in events %}
				<div style="padding-left: 10px">
					<small>{{ event }}</small>
					<hr>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}