{% extends 'core/intro_base.html' %}

{% block head %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}

{% load static %}

<div class="about-info">
	<h2 class="snapswer-about-title">Snapswer is an image based Q&A site</h2>
	<p>We always believe one picture worths a thousand words</p>
	<p>
	<h3><a class="btn btn-primary btn-xlg" href="{% url 'accounts:register' %}">Join Snapswer</a></h3>
	</p>
	<p class="text-muted">
		Already have an account? <a href="{% url 'accounts:login' %}">Log in now</a>
	</p>
	<p id="about_image_block" class="screenshot">
<image class="deepshadow" src="{% static "images/about.png" %}"></image>
	</p>
	<div class="about-footer">
		<li class="footer-inline"><a class="about-footer-text" href="/terms/">Terms &amp; Privacy</a></li>
		<li class="footer-inline about-footer-li"><a class="about-footer-text" href="/acknowledgement/">Acknowledgment</a></li>
		<li class="footer-inline about-footer-li"><a class="about-footer-text" href="/contact/">Contact Us</a></li>
		<li class="footer-inline about-copyright-li"><span class="copyright-text">© 2013 Snapswer. All rights reserved.</span></li>
	</div>
</div>
{% endblock %}
