{% load questionform_tag %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Snapswer</title>
        {% load staticfiles %}
        {% load category_tag %}

        <!-- before production, make all these min version -->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"></link>
        <link rel="stylesheet" href="{% static "fancyBox/source/jquery.fancybox.css" %}" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}"></link>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/signin.css" %}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}"></link>

        <!-- jquery -->
        <script src="{% static "jquery/jquery-2.0.3.js" %}"></script>
        <!-- jquery-cookie-library -->
        <script src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
        <!-- jquery fancybox -->
        <script src="{% static "fancyBox/source/jquery.fancybox.pack.js" %}"></script>
        <!-- bootstrap -->
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <!-- mustache -->
        <script src="{% static "mustache/mustache.js" %}"></script>
        <!-- wookmark -->
        <script src="{% static "wookmark/jquery.wookmark.js" %}"></script>
        <!-- spinner -->
        <script src="{% static "spin.min.js" %}"></script>
        <!-- facebook -->
        {% include 'django_facebook/_facebook_js.html' %}
        {% block header %}
        {% endblock %}

        <script>
            function notified() {
                $.ajax({ type: "GET",
                    url: "/notification/acknowledge/",
                    success: function(data) {
                        $("#notification-badge").html("0");
                    }
                });
            }
            $(document).ready(function() {
                /* This is basic - uses default settings */
                
                $("a#single_image").fancybox();
                
                /* Using custom settings */
                $("a#inline").fancybox({
                    'hideOnContentClick': true,
                    "autoSize" : false,
                    "width"    : "auto",
                    "height"   : "auto",
                    "maxWidth" : 800
                });              

                $("a#addSnapswer").fancybox({
                    'hideOnContentClick': true,
                    "autoSize" : false,
                    "width"    : "auto",
                    "height"   : "auto",
                    "maxWidth" : 800
                });

                $("#iframeFancyBox").fancybox({
                    'width'             : '400px',
                    'height'            : '75%',
                    'autoScale'         : false,
                    'autoDimensions'    : false,
                    'transitionIn'      : 'none',
                    'transitionOut'     : 'none',
                    'type'              : 'iframe'
                });

                {% if user.is_authenticated %}
                $.ajax({ type: "GET",
                    url: "/notification/getlatest/",
                    success: function(data) {
                        $("#notification-dropdown").css("display", "block");
                        $("#notification-badge").html(data.data.new_count);
                        if (data.data.events.length == 0) {
                            $("#notification-dropdown").addClass("disabled");
                        }
                        for (i=0; i<data.data.events.length; i++) {
                            var event = data.data.events[i];
                            if (i!=0)
                                $("#notification-menu").append('<li role="presentation" class="divider"></li>');
                            if (data.data.events[i].new) {
                                $("#notification-menu").append('<li role="presentation"<span id="addSnapswer" role="menuitem" tabindex="-1" href="#" style="padding:5px 15px;font-size:12px;width:200px;font-weight:bold">'+event.message+'</span></li>');
                            } else {
                                $("#notification-menu").append('<li role="presentation"<span id="addSnapswer" role="menuitem" tabindex="-1" href="#" style="padding:5px 15px;font-size:12px;width:200px;">'+event.message+'</span></li>');
                            }
                        }
                    },
                    dataType: "json"
                });
                {% endif %}
            });
            function openPopup(url) {
             window.open(url, "popup_id", "scrollbars,resizable,width=500,height=350");
            }
        </script>        
    </head>
    
    <body style="overflow-y:scroll;" bgcolor="#eee">

        <div class="tw-bs">
            <nav role="navigation" class="navbar navbar-inverse navbar-default navbar-fixed-top">
                <div class="container">
                <div class="navbar-header">
                  <button data-target=".navbar-ex2-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="/home/" class="navbar-brand"><image style="width:150px" src="{% static "images/logo_big.png" %}"></image></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex8-collapse">

                <ul class="nav navbar-nav navbar-left">
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'accounts:register' %}">Signup</a></li>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                {% else %}
                    {% display_category %}

                    {% if question %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                                <li>
                                    <div class="row-fluid categorymenu" style="width: 300px;">
                                    <ul class="unstyled">
                                            <li><a id="addSnapswer" style="text-decoration:none" href="#uploadAnswerModal"><h5><strong class="text-muted"><span class="glyphicon glyphicon-open"></span>  Upload a Snapswer</strong></h5></a></li>
                                            <li><a style="text-decoration:none" href="#addAnswerWebModal" id="addSnapswer"><h5><strong class="text-muted"><span class="glyphicon glyphicon-cloud"></span>  Add Snapswer from Web</strong></h5></a></li>  
                                    </ul>
                                </div>
                                </li>
                        </ul>
                    </li>
                    {% endif %}

                    <li><a  data-toggle="modal" id="inline" href="#askModal"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                    <li><a href="{% url "notification:notification" %}"><span class="glyphicon glyphicon-inbox"></span></a></li>
                    <li><a href="/{{user.username}}.{{user.id}}/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="{% url "accounts:profile" %}"><span class="glyphicon glyphicon-wrench"></span></a></li>  
                    <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-off"></span></a></li>        
                {% endif %} 
                  </ul>
                </div>
                </div>
            </nav>
        </div>

        <div style="display:none">
            <div id="askModal" class="tw-bs">
                <div class="modal-header">
                    <h3 id="myModalLabel"><strong>Ask a question</strong></h3>
                </div>
                <div class="modal-body">
                    {% display_question_form %}
                </div>
            </div>
        </div>

        <div class="container" style="padding-top: 55px;">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
