{% load questionform_tag %}
{% load compress %}

<!DOCTYPE html>
<html style='font-family:"Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;'>
    <head>
        <meta charset="utf-8">
        <title>Snapswer</title>
        {% load staticfiles %}
        {% load category_tag %}

        <!-- before production, make all these min version -->
        <!--link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"></link-->
        <!-- avoid cdn problem for now, user server css -->
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"></link>
        {% compress css %}

        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}"></link>           
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"</link>
        <link rel="stylesheet" href="{% static "fancyBox/source/jquery.fancybox.css" %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/signin.css" %}">
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" href="{% static "custom-icons/css/fontello.css" %}">  
        <link rel="stylesheet" href="{% static "custom-icons/css/animation.css" %}">  
        <!--<link rel="stylesheet" href="{% static "icomoon/style.css" %}">  -->
        <link rel="stylesheet" href="{% static "css/font.css" %}">    
        <!--<link rel="stylesheet" href="{% static "fontello/css/fontello.css" %}">
        <link rel="stylesheet" href="{% static "fontello/css/animation.css" %}">   -->
        {% endcompress %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% compress js %}
        <!-- jquery -->
        <script src="{% static "jquery/jquery-2.0.3.js" %}"></script>
        <!-- jquery-cookie-library -->
        <script src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
        <!-- jquery fancybox -->
        <script src="{% static "fancyBox/source/jquery.fancybox.pack.js" %}"></script>
        <!-- bootstrap -->
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <!-- mustache -->
        <script src="{% static "mustache/mustache.js" %}"></script>
        <!-- wookmark -->
        <script src="{% static "wookmark/jquery.wookmark.js" %}"></script>
        <!-- spinner -->
        <script src="{% static "spin.min.js" %}"></script>
        <!-- base.js -->
        <script src="{% static "js/base.js" %}"></script>
        <!-- document.ready -->

        {% endcompress %}

        {% compress js inline %}
        <script>
            $(document).ready(function() {
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    $("#navigationBar").removeClass("navbar-fixed-top");
                }
                {% if user.is_authenticated %}
                $.ajax({ type: "GET",
                    url: "/notification/getlatest/",
                    success: function(data) {
                        $("#notification-dropdown").css("display", "block");
                        $("#notification-badge").html(data.data.new_count);
                        if (data.data.events.length == 0) {
                            $("#notification-dropdown").addClass("disabled");
                        }
                        for (i=0; i<data.data.events.length; i++) {
                            var event = data.data.events[i];
                            if (i!=0)
                                $("#notification-menu").append('<li role="presentation" class="divider"></li>');
                            if (data.data.events[i].new) {
                                $("#notification-menu").append('<li role="presentation"<span id="addSnapswer" class="nav-snapswer-dropdown" role="menuitem" tabindex="-1" href="#">'+event.message+'</span></li>');
                            } else {
                                $("#notification-menu").append('<li role="presentation"<span id="addSnapswer" class="nav-snapswer-dropdown" role="menuitem" tabindex="-1" href="#">'+event.message+'</span></li>');
                            }
                        }
                    },
                    dataType: "json"
                });
                {% endif %}
            });
            
            var board_template = "/static/template/board_template.html";
        </script>
        {% endcompress %}
        <!-- facebook -->
        {% include 'django_facebook/_facebook_js.html' %}
        {% block header %}
        {% endblock %}
    </head>
    
    <body class="base-background" style='overflow-y: scroll !important;'>

        <div class="tw-bs">
            <div id="navigationBar" role="navigation" class="navbar navbar-inverse navbar-default navbar-fixed-top">
                <ul class="nav navbar-nav pull-left">
                    <li><a class="main-navbar-gift-left" id="prize_inline" href="#prizeModal"><span class="snapswer-icon-gift-1" style="font-size:18px;color:#00BFFF;"></span> <span style="color:#00BFFF">Enter to win a gift card!</span></a></li>
                </ul>

                <div class="navbar-header" >
                  <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="/home/" class="navbar-brand"><image style="padding-top:5px;" id="logo" src="{% static "images/logo_snap_nav.png" %}"></image></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                
                <ul class="nav navbar-nav pull-right">
                    <li><a class="main-navbar-gift" id="prize_inline" href="#prizeModal"><span class="snapswer-icon-gift" style="font-size:18px;color:#00BFFF;"></span> <span style="color:#00BFFF">Win an electronic gift card!</span></a></li>
                    <li><a class="main-navbar-icon  " href="/about/"><span class="snapswer-icon-info"></span></a></li>

                    {% if question %}
                    <li class="dropdown">
                        <a class="main-navbar-icon" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="snapswer-icon-plus"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="addSnapswer" class="plain-text-link" onClick="createUploadAnswerForm();" href="#uploadAnswerModal"><h5><strong class="text-muted"><span class="snapswer-icon-upload"></span>  Upload a Snapswer</strong></h5></a></li>
                            <li><a class="plain-text-link" onClick="createUploadUrlForm();" href="#addAnswerWebModal" id="addSnapswer"><h5><strong class="text-muted"><span class="snapswer-icon-upload-cloud"></span>  Add Snapswer from Web</strong></h5></a></li>  
                        </ul>
                    </li>
                    {% endif %}

                {% if not user.is_authenticated %}
                    <!--<li><a class="main-navbar-icon" href="{% url 'accounts:register' %}">Signup</a></li>-->
                    <li><a class="main-navbar-icon" href="#" onClick="handleLogin();"><span class="snapswer-icon-login"></span></a></li>
                {% else %}
                    <li><a class="main-navbar-icon" href="/home/"><span class="snapswer-icon-home"></span></a></li>
                    <li><a class="main-navbar-icon" href="{% url "accounts:profile" %}"><span class="snapswer-icon-cog"></span></a></li>
                    <li><a class="main-navbar-icon"href="#" onClick="handleLogout();"><span class="snapswer-icon-logout"></span></a></li>        
                {% endif %} 
                  </ul>
                </div>
            </div>
        </div>

        <div class="hidden">
            <div id="askModal" class="tw-bs">
                <div class="modal-header">
                    <h3 id="myModalLabel"><strong>Ask a question</strong></h3>
                </div>
                <div class="modal-body">
                    {% display_question_form %}
                </div>
            </div>
        </div>

        <div class="hidden">
            <div id="prizeModal" class="tw-bs">
                <div class="modal-header">
                    <h4>Enter to win a gift card</h4>
                </div>

                <div class="modal-body">
                    <p>To enter, just post a Snapswer to our daily question. The most-voted qualified Snapwer will be selected as winner of the day!</p>

                    <p><small class="text-muted">Subject to the picture's qualification and relevancy as determined in the sole discretion of our editorial board. One entry per user.</small></p>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
            <div class="tw-bs">
                <button id="backToTop" class="btn btn-small btn-danger back-to-top" style="display:none" type="button"><i style="font-size:15px" class="glyphicon glyphicon-arrow-up"></i></button>
            </div>
        </div>
    </body>
</html>
