{% extends 'core/intro_base.html' %}

{% block head %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}

{% load static %}

<div class="about-info">
	<p>To request any further information. Please contact info@snapswer.com</p>
</div>
{% endblock %}
