{% load compress %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What is Snapswer?</title>
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"></link>
        {% compress css %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}"></link>           
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"></link>
		<link rel="stylesheet" href="{% static "css/about.css" %}">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
        {% endcompress %}

        {% compress js %}
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% endcompress %}

        {% block head %}
        {% endblock %}
	</head>

	<body class="base-background">
		<div class="tw-bs">
		<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header" >

                  <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="/home/" class="navbar-brand"><image id="logo" src="{% static "images/logo_snapswer_nav.png" %}"></image></a>
                </div>
                <!--
        		<div class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="/about/">About</a></li>
		            <li><a href="/terms/">Terms & Privacy</a></li>
		            <li><a href="/contact/">Contact Us</a></li>
		          </ul>
        		</div>
        		-->
	    </div>
		</div>

		<div class="tw-bs">
			<div class="about-container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
