{% extends 'core/intro_base.html' %}

{% block head %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}
<div class="terms-info">
<ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Privacy Policy</a></li>
    <li><a href="/terms_and_conditions/">Terms and Conditions</a></li>
    <li><a href="/terms_of_user/">Terms of Use</a></li>
    <li><a href="/terms_of_service/">Terms of Service</a></li>
</ul>
<h3>Snapswer Privacy Policy</h3>
<p>This Privacy Policy was last modified on October 13, 2013.</p>
<p>Snapswer, Inc ("us", "we", or "our") operates http://www.snapswer.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://www.snapswer.com.</p>

<p><strong>Information Collection And Use</strong><br />While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address and phone number ("Personal Information").</p>

<p><strong>Log Data</strong><br />Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

<p><strong>Cookies</strong><br />Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
<p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>

<p><strong>Security</strong><br />The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

<p><strong>Links To Other Sites</strong><br />Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
<p>Snapswer, Inc has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.</p>

<p><strong>Changes To This Privacy Policy</strong><br />Snapswer, Inc may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>

<p><strong>Contact Us</strong><br />If you have any questions about this Privacy Policy, please contact us.</p>
<p><a href="http://termsfeed.com/privacy-policy/generator/" title="TermsFeed"><img src="http://termsfeed.com/seals/ts-pp-authenticity.png" alt="TermsFeed" /></a></p>
</div>
{% endblock %}