{% extends 'core/intro_base.html' %}

{% block head %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}
<div class="terms-info">
<ul class="nav nav-pills pull-right">
    <li><a href="/terms">Privacy Policy</a></li>
    <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
    <li><a href="/terms_of_user">Terms of Use</a></li>
    <li class="active"><a href="#">Terms of Service</a></li>
</ul>
<h3>Snapswer Terms of Service ("Agreement")</h3>
<p>This Agreement was last modified on October 13, 2013.</p>

<p>Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using http://www.snapswer.com ("the Site") operated by Snapswer, Inc ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at http://www.snapswer.com.</p>
<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.</p>

<p><strong>Intellectual Property</strong><br />The Site and its original content, features and functionality are owned by Snapswer, Inc and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

<p><strong>Termination</strong><br />We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

<p><strong>Links To Other Sites</strong><br />Our Site may contain links to third-party sites that are not owned or controlled by Snapswer, Inc.</p>
<p>Snapswer, Inc has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

<p><strong>Governing Law</strong><br />This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of California, United States, without giving effect to any principles of conflicts of law.</p>

<p><strong>Changes To This Agreement</strong><br />We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</p>
<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

<p><strong>Posting Content</strong><br />Snapswer allows you to post content, including photos, comments and other materials.  Anything that you post or otherwise make available on our Products is referred to as "User Content." You retain all rights in, and are solely responsible for, the User Content you post to Snapswer.</p>

<p><strong>Feedback You Provide</strong><br />We value hearing from our users, and are always interested in learning about ways we can make Snapswer more awesome. If you choose to submit comments, ideas or feedback, you agree that we are free to use them without any restriction or compensation to you. By accepting your submission, Snapswer does not waive any rights to use similar or related Feedback previously known to Snapswer, or developed by its employees, or obtained from sources other than you</p>



<p><strong>Contact Us</strong><br />If you have any questions about this Agreement, please contact us.</p>
<p style="font-size: 85%; color: #999;">Published and generated with permission from <a href="http://termsfeed.com/terms-service/generator/" style="color: #999; text-decoration: none;">www.termsfeed.com</a>.</p>

{% endblock %}