
.icon-mail:before { content: '\e815'; } /* '' */
.icon-gift-1:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-thumbs-down:before { content: '\e809'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e807'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e813'; } /* '' */
.icon-mail-alt:before { content: '\e816'; } /* '' */
.icon-download-cloud:before { content: '\e805'; } /* '' */
.icon-upload-cloud:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-login:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-gift:before { content: '\e814'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-gplus:before { content: '\e80f'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-upload:before { content: '\e812'; } /* '' */