@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88913688');
  src: url('../font/fontello.eot?88913688#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?88913688') format('woff'),
       url('../font/fontello.ttf?88913688') format('truetype'),
       url('../font/fontello.svg?88913688#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88913688#fontello') format('svg');
  }
}
*/
 
 [class^="snapswer-icon-"]:before, [class*=" snapswer-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.snapswer-icon-mail:before { content: '\e815'; } /* '' */
.snapswer-icon-gift-1:before { content: '\e817'; } /* '' */
.snapswer-icon-plus:before { content: '\e800'; } /* '' */
.snapswer-icon-info-circled:before { content: '\e801'; } /* '' */
.snapswer-icon-info:before { content: '\e802'; } /* '' */
.snapswer-icon-home:before { content: '\e803'; } /* '' */
.snapswer-icon-link:before { content: '\e804'; } /* '' */
.snapswer-icon-thumbs-up:before { content: '\e80a'; } /* '' */
.snapswer-icon-thumbs-down:before { content: '\e809'; } /* '' */
.snapswer-icon-thumbs-up-alt:before { content: '\e807'; } /* '' */
.snapswer-icon-thumbs-down-alt:before { content: '\e808'; } /* '' */
.snapswer-icon-download:before { content: '\e813'; } /* '' */
.snapswer-icon-mail-alt:before { content: '\e816'; } /* '' */
.snapswer-icon-download-cloud:before { content: '\e805'; } /* '' */
.snapswer-icon-upload-cloud:before { content: '\e806'; } /* '' */
.snapswer-icon-menu:before { content: '\e80e'; } /* '' */
.snapswer-icon-cog:before { content: '\e80d'; } /* '' */
.snapswer-icon-login:before { content: '\e80c'; } /* '' */
.snapswer-icon-logout:before { content: '\e80b'; } /* '' */
.snapswer-icon-gift:before { content: '\e814'; } /* '' */
.snapswer-icon-facebook:before { content: '\e810'; } /* '' */
.snapswer-icon-gplus:before { content: '\e80f'; } /* '' */
.snapswer-icon-twitter:before { content: '\e811'; } /* '' */
.snapswer-icon-upload:before { content: '\e812'; } /* '' */