<li class="dropdown">
    <a href="/category/animals/" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
        	<div class="row-fluid categorymenu" style="width: 600px;">
            <ul class="unstyled span4">
                	<li><a style="text-decoration:none" href="/follow/"><h5><strong class="text-muted">Home Feed</strong></h5></a></li>
                	<li><a style="text-decoration:none" href="/popular/"><h5><strong class="text-muted">Popular</strong></h5></a></li>
                	<li><a style="text-decoration:none" href="/latest/"><h5><strong class="text-muted">Latest</strong></h5></a></li>
                	<li><a style="text-decoration:none" href="/category/animals/"><h5><strong class="text-muted">Animals</strong></h5></a></li>

                	<li><a style="text-decoration:none" href="/category/architecture/"><h5><strong class="text-muted">Architecture</strong></h5></a></li>	

                	<li><a style="text-decoration:none" href="/category/animals/"><h5><strong class="text-muted">Art</strong></h5></a></li>

                	<li><a style="text-decoration:none" href="/category/automotives/"><h5><strong class="text-muted">Automotives</strong></h5></a></li>

                	<li><a style="text-decoration:none" href="/category/beauty/"><h5><strong class="text-muted">Beauty</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/celebrities/"><h5><strong class="text-muted">Celebrities</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/crafts/"><h5><strong class="text-muted">Crafts</strong></h5></a></li>	
            </ul>
            <ul class="unstyled span4">
                	<li><a style="text-decoration:none" href="/category/design/"><h5><strong class="text-muted">Design</strong></h5></a></li>

                	<li><a style="text-decoration:none" href="/category/education/"><h5><strong class="text-muted">Education</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/entertainment/"><h5><strong class="text-muted">Entertainment</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/events/"><h5><strong class="text-muted">Events</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/electronic/"><h5><strong class="text-muted">Electronic</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/fashion/"><h5><strong class="text-muted">Fashion</strong></h5></a></li>	
                	
                	<li><a style="text-decoration:none" href="/category/food/"><h5><strong class="text-muted">Food</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/funny/"><h5><strong class="text-muted">Funny</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/gardening/"><h5><strong class="text-muted">Gardening</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/health/"><h5><strong class="text-muted">Health</strong></h5></a></li>	
            </ul>
            <ul class="unstyled span4">	
                	<li><a style="text-decoration:none" href="/category/history/"><h5><strong class="text-muted">History</strong></h5></a></li>

                	<li><a style="text-decoration:none" href="/category/humor/"><h5><strong class="text-muted">Humor</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/kids/"><h5><strong class="text-muted">Kids</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/photography/"><h5><strong class="text-muted">Photography</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/romance/"><h5><strong class="text-muted">Romance</strong></h5></a></li>	
                	
                	<li><a style="text-decoration:none" href="/category/science/"><h5><strong class="text-muted">Science</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/sports/"><h5><strong class="text-muted">Sports</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/travels/"><h5><strong class="text-muted">Travels</strong></h5></a></li>
                	
                	<li><a style="text-decoration:none" href="/category/technology/"><h5><strong class="text-muted">Technology</strong></h5></a></li>		
            </ul>
        	</div>
        </li>
    </ul>
</li>

<!--div>

	<ul style="position:absolute;left:0px;">
{% for category in categories %}
	{% if forloop.counter|divisibleby:9 %}
		</ul>
	{% endif %}
	{% if forloop.counter == 9 %}
		<ul style="position:absolute;left:150px;">
	{% endif %}
	{% if forloop.counter == 18 %}
		<ul style="position:absolute;left:300px;">
	{% endif %}
	{% if forloop.counter == 27 %}
		<ul style="position:absolute;left:450px;">
	{% endif %}
		<li><a href="/category/{{category.name}}/">{{ category.name }}</a><a id="follow_category_label{{category.id}}" style="font-size:10px;margin-left:5px" href="javascript:void(0)" onClick="followCategory({{category.id}});">Follow</a></li>
{% endfor %}
	</ul>
	<script>
	function followCategory(category_id) {
        $.ajax({ type: "POST",
            url: "/content/follow/category/"+category_id+"/",
            success: function(data) {
                if (data.data.action == "follow") {
                    $("/category/animals/follow_category_label"+category_id).html("Unfollow");
                } else {
                    $("/category/animals/follow_category_label"+category_id).html("Follow");
                }
            }
        });
	}
	</script>
</div-->