{% extends 'core/base.html' %}

{% block header %}
	{% load staticfiles %}
    <script src="{% static "mustache/mustache.js" %}"></script>
    <script type="text/javascript">
        snapswerGlobal = {};
        Mustache.tags = ['[[', ']]'];
    </script>
{% endblock %}

{% block content %}
	{% load thumbnail %}
    <div id="board" role="main" style="margin-left: auto;margin-right: auto;padding-bottom:15px">
        <ul id="tiles">
        </ul>
    </div>

    <script src="{% static "js/board.js" %}"></script>
    <script>
        var board;
        $(document).ready(function() {
            options = {
                autoResize: true, // This will auto-update the layout when the browser window is resized.
                container: $('#board'), // Optional, used for some extra CSS styling
                offset: 6, // Optional, the distance between grid items
                itemWidth: 313 // Optional, the width of a grid item
            };
            {% if request.path == "/" or request.path == "/home/" %}
            board = new QuestionBoard(100, '/content/summary/latest', true, options);
            {% else %}
            board = new QuestionBoard(100, '/content/summary{{request.path}}', true, options);
            {% endif %}

            $.ajax({ type: "GET",
                url: "/core/getseq/",
                success: function(data) {
                    board.curTimestamp = data.seq;
                    return false;
                },
                dataType: "json"
            });

            board.init();
        });
    </script>
{% endblock %}
