{% extends 'core/base.html' %}

{% block header %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}"></link>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41419132-2', 'snapswer.com');
      ga('send', 'pageview');

    </script>
{% endblock %}

{% block content %}
    {% load thumbnail %}

    <div class="tw-bs">
        <div class="text-muted snapswer-board-container">
            <h2 class="snapswer-board-title">{{ question.title }}</h2>
        </div>
    </div>

    <!-- modal -->
    <div class="hidden">
        <div id="uploadAnswerModal" class="tw-bs">
            
        </div>
    </div>

    <div class="hidden">
        <div id="addAnswerWebModal" class="tw-bs">

        </div>
    </div>

    <!-- Once the page is loaded, initalize the plug-in. -->
    <div id="board" role="main" class="snapswer-board">
        <ul id="tiles">
        </ul>
    </div>

    <a id="feedback_inline" href="#feedbackModal">
        <div id="feedback_block" class="sidebar-btn">Feedback</div>
    </a>

    <div class="hidden">
        <div id="feedbackModal" class="tw-bs">
            <div class="modal-header">
                <h4 id="myModalLabel"><strong>Help us improve!</strong></h4>
            </div>

            <div class="modal-body"> 
                {% csrf_token %}
                <div class="form-group" id="alert-area">
                </div>
                    
                <div class="form-group">
                    <span class="help-block">Your feedback is very valuable to us!</span>
                </div>

                <div class="form-group">
                    <textarea class="form-textbox form-control input-lg" rows="3" id="feedback" name="feedback" placeholder="Please provide your feedback"></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-lg" onClick="sendFeedback();">Submit</button>
            </div>
        </div>
    </div>

    <script src="{% static "js/board.js" %}"></script>
    <script src="{% static "jquery-form/jquery.form.js" %}"></script> 
    <script>
        {% if request.user.id == question.owner_id %}
            var is_owner = true;
        {% else %}
            var is_owner = false;
        {% endif %}
        {% if user.is_authenticated %}
            var is_logged_in = true;
        {% else %}
            var is_logged_in = false;
        {% endif %}
        var question_id = {{question.id}};
        var question_title = "{{question.chomp_title}}";
        var csrf_token = "{% csrf_token %}";
        var upload_snapswer_url = "{% url 'content:snapswer' question.id %}";
        var spinner_gif = "{% static "images/spinner.gif" %}";
    </script>
    <script src="{% static "js/detail.js" %}"></script>

{% endblock %}

