{% extends 'core/base.html' %}

{% block header %}
{% load static %}
{% endblock %}

{% block content %}
    {% load thumbnail %}

    <div class="tw-bs">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 deepshadow" style="background:white; height:190px; margin-bottom:30px">
                <a href="/{{question.owner.username}}.{{question.owner.id}}/" class="pull-left">
                  <img src="/media/{{question.owner.profile.profile_pic}}" alt="64x64" class="media-object" style="margin:0px; width: 170px; height: 190px;">
                </a>
                <div style="padding-left:190px;">
                <div style="height:50px;">
                    <div id="title_div" style="display:inline-block;font-size:20px;">{{ question.title }}
                    </div>
                    <button href="/content/follow/question/{{ question.id }}/" class="btn btn-link" onClick="likeQuestion({{question.id}})" class="btn btn-small btn-link">    
                        <span id="id_follow_question">
                        {% if question_followed %}
                            Unfollow this question
                        {% else %}
                            Follow this question
                        {% endif %}
                        </span>
                    </button>

                </div>
                <div id="detail_div" style="height:90px;" class="text-muted">
                    {{ question.detail }}
                </div>
                <div style="padding-top:5px">
                    <div>            
                        <span>         
                        {% if category_followed %}
                            <button href="/content/follow/category/{{ question.category.id }}/" onClick="likeCategory({{question.category.id}})" class="btn btn-danger"><span id="id_follow_category">Unfollow</span> {{question.category}}</button>
                        {% else %}
                            <button href="/content/follow/category/{{ question.category.id }}/" onClick="likeCategory({{question.category.id}})"class="btn btn-danger"><span id="id_follow_category">Follow</span>  {{question.category}}</button>
                        {% endif %}
                        </span>
                        <span>
                            <button class="btn btn-primary"><i class="glyphicon glyphicon-share"></i></button>
                        </span>
                        <span>
                             <button class="btn btn-info"><i class="glyphicon glyphicon-share"></i></button>
                        </span>
                        <span>
                            <div class="btn-group">
                              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                Snapswer <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li>
                                    <div class="row-fluid categorymenu" style="width: 300px;">
                                    <ul class="unstyled">
                                            <li><a id="addSnapswer" style="text-decoration:none" href="#uploadAnswerModal"><h5><strong class="text-muted"><span class="glyphicon glyphicon-open"></span>  Upload a Snapswer</strong></h5></a></li>
                                            <li><a style="text-decoration:none" href="#addAnswerWebModal" id="addSnapswer"><h5><strong class="text-muted"><span class="glyphicon glyphicon-cloud"></span>  Add Snapswer from Web</strong></h5></a></li>  
                                    </ul>
                                </div>
                                </li>
                              </ul>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <hr>
    </div>
    <!-- modal -->
    <div style="display:none">
        <div id="uploadAnswerModal" class="tw-bs">
            <div class="modal-header">
                <h4 id="myModalLabel"><strong>Add a Snapswer from your computer</strong></h4>
            </div>

            <div class="modal-body">
            <form role="form" id="snapswerForm" action="{% url 'content:snapswer' question.id %}" method="post" enctype="multipart/form-data">
                    
                {% csrf_token %}
                <div class="form-group" id="alert-area">
                </div>
                    
                <div class="form-group">
                    <label for="imgInp">Image file</label>
                    <input type="file" name="image" id="imgInp">
                    <p class="help-block">Upload an image to represent your answer</p>
                </div>

                <div class="form-group">
                    <div id="previewUploadImage"></div>
                </div>
    
                <div class="form-group">
                    <input class="form-control input-lg" cols="40" id="id_detail" name="detail" placeholder="Add a single line of descriptions!" rows="3"
                    ></input>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div style="display:none">
        <div id="addAnswerWebModal" class="tw-bs">
            <div class="modal-header">
                <h4 id="myModalLabel"><strong>Add a Snapswer from a website</strong></h4>
            </div>
            <div class="modal-body" style="width:500px">
                    <form id="snapswerUrlForm" action="{% url 'content:snapswer' question.id %}" method="post" enctype="multipart/form-data" onsubmit="return validateUrlForm();">
                        {% csrf_token %}
                        <div class="form-group" id="alert-area-url">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" id="link" name="image_url" class="form-control input-lg" placeholder="http://">
                        </div>

                        <div class="form-group" id="preview_url">
                            <div id="spinner"></div>
                        </div>
                
                        <div class="form-group">
                            <input class="form-control input-lg" cols="40" id="id_detail" name="detail" placeholder="Add a single line of descriptions!" rows="3"
                            ></input>
                        </div>

                        <input class="btn btn-primary btn-lg" type="submit" value="Submit"-->

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Once the page is loaded, initalize the plug-in. -->
    <div id="board" role="main" style="margin-left: auto;margin-right: auto;padding-bottom:15px;">
        <ul id="tiles">
        </ul>
    </div>

    <script src="{% static "js/board.js" %}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script>
        var board;
        $(document).ready(function() {
            var options = {
                beforeSend: function()
                {
                    return false;
                },
                success: function(data)
                {
                    if (data.status_code == 10002)
                    {
                        var image_field = valueOrDefault(data.data.error_msg.image);

                        if (image_field)
                        {
                           var alertArea = document.getElementById("alert-area-upload");
                            alertArea.innerHTML = "<div class=\"alert alert-error\">" + image_field + "</div>";                           
                        }
                    }
                    else
                    {
                        location.reload();
                    }
                }
            };

            {% if request.user.id == question.owner_id %}
                $("#title_div").attr("contenteditable", "true");
                $("#title_div").keypress(function(e){ 
                            if (e.which == 13) {
                                $("#title_div").blur(); 
                                $.ajax({
                                    type: "POST",
                                    url: "/content/question/update/{{question.id}}/",
                                    data: {title: $("#title_div").text()},
                                    success: function(data) {
                                        if (data.status_code != 10001) {
                                            alert("Error updating title");
                                        }
                                    },
                                    dataType: "json"
                                });
                            } 
                            return e.which != 13; 
                        });

                $("#detail_div").attr("contenteditable", "true");
                $("#detail_div").keypress(function(e){ 
                            if (e.which == 13) {
                                $("#detail_div").blur(); 
                                $.ajax({
                                    type: "POST",
                                    url: "/content/question/update/{{question.id}}/",
                                    data: {detail: $("#detail_div").text()},
                                    success: function(data) {
                                        if (data.status_code != 10001) {
                                            alert("Error updating detail");
                                        }
                                    },
                                    dataType: "json"
                                });
                            } 
                            return e.which != 13; 
                        });
                
            {% endif %}

            $("#snapswerForm").ajaxForm(options);

            board = new AnswerBoard(100, '/content/loadsnapswer/{{question.id}}/');

            $.ajax({ type: "GET",
                url: "/core/getseq/",
                success: function(data) {
                    board.curTimestamp = data.seq;
                    return false;
                },
                dataType: "json"
            });

            board.init();
        });

        function valueOrDefault(val, def) {
            if (def == undefined) def = "";
            return val == undefined ? def : val;
        }

        function validateUrlForm() {
            var $form = $("#snapswerUrlForm");
            var url = $form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: {image_url: $("#link").val()},
                success: function(data) {
                    if (data.status_code == 10002) 
                    {
                        var image_url_error = valueOrDefault(data.data.error_msg.image_url);

                        if (image_url_error)
                        {
                            var alertArea = document.getElementById("alert-area-url");
                            alertArea.innerHTML = "<div class=\"alert alert-error\">Cannot find any image from the given URL</div>";
                        }
                    }
                    else 
                    {
                        location.reload();
                    }
                },
                dataType: "json"
            });

            return false;
        }

        function likeQuestion(id) {
            $.ajax({ type: "POST",
                url: "/content/follow/question/"+id+"/",
                context: this,
                success: function(data) {
                    if (data.data["action"] == "follow")
                    {
                        $("#id_follow_question").html("Unfollow this question");
                    }
                    else
                    {
                        $("#id_follow_question").html("Follow this question");
                    }
                }
            });
        }

        function likeCategory(id) {
            $.ajax({ type: "POST",
                url: "/content/follow/category/"+id+"/",
                context: this,
                success: function(data) {
                    if (data.data["action"] == "follow")
                    {
                        $("#id_follow_category").html("Unfollow");
                    }
                    else
                    {
                        $("#id_follow_category").html("Follow");
                    }
                }
            });
        }

    </script>
    
    <script>
        var stoppedTyping;
        var spinner;
        $('#link').on('keyup', function(){
            if (spinner)
                spinner.stop();
            var opts = {
                lines: 10,
                lenght: 1,
                width: 3,
                radius: 5,
                top: '-5',
                left: 'auto'
            }
            spinner = new Spinner(opts).spin();
            $('#spinner').append(spinner.el);
            if (stoppedTyping) clearTimeout(stoppedTyping);
            stoppedTyping = setTimeout(function(){
                preview();
            }, 2000);
        });

        // image url preview
        function preview() {
            $('div[id=preview_url]').hide().html('<img style="max-width:250px;max-height:200px;border:1px solid #dedede" onerror="/*alert(\'The image could not be loaded.\')*/" src="'+$('input[id=link]').val()+'">').fadeIn('slow');
            if (spinner)
                spinner.stop();
        }

        // file preview
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#previewUploadImage').attr('src', e.target.result);
                    $('div[id=previewUploadImage]').hide().html('<img style="max-width:250px;max-height:200px;border:1px solid #dedede" src="'+e.target.result+'"><br>').fadeIn('slow');
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
        });
    </script>

{% endblock %}

