{% load widget_tweaks %}
{% block header %}
<script>
	function validate() {
		if ($('#id_title').val() == "")
		{
			var alertArea = document.getElementById("alert-area");
			alertArea.innerHTML = "<div class=\"alert alert-danger\">Title is required</div>";
			return false;
		}

		if ($('#id_title').val().trim().length < 10)
		{
			var alertArea = document.getElementById("alert-area");
			alertArea.innerHTML = "<div class=\"alert alert-danger\">Title requires as least 10 characters</div>";
			return false;
		}

		if ($('#id_category').val() == "")
		{
			var alertArea = document.getElementById("alert-area");
			alertArea.innerHTML = "<div class=\"alert alert-danger\">Category is required</div>";
			return false;			
		}

		var $form = $("#askForm");
		var url = $form.attr('action');

		$.ajax({
			type: "POST",
			url: url,
			data: { title: $('#id_title').val(), 
					  detail: $('#id_detail').val(),
					  category: $('#id_category').val()
					},
			success: function(data) {
				if (data.status_code == 10001)
				{
					document.location = "/latest/";
				}
				else
				{
					alert("fail");

				}
			}
		});

		return false;
	}


</script>
{% endblock %}

<div class="tw-bs">
	<form role="form" method="post" id="askForm" action="{% url 'content:ask' %}" enctype="multipart/form-data" onsubmit="return validate();">
		{% csrf_token %}
		<div class="form-group" id="alert-area">

		</div>
  		<div class="form-group">
    		{{ form.title|attr:"placeholder:Question title"|attr:"class:form-control input-lg"|attr:"id:id_title" }}
  		</div>
		
		<div class="form-group">
		    <label for="exampleInputFile">Category</label>
		    {{ form.category }}
		    <p class="help-block">Choose a category for you question.</p>
		</div>
		
  		<div class="form-group">
			{{ form.detail|attr:"class:form-control input-lg"|attr:"id:id_detail"|attr:"placeholder:Question detail"|attr:"rows:3"|attr:"style:margin: 0px -6px 0px 0px; height: 134px; width: 745px;" }}

  		</div>

		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>
</div>