<div style="background-color:#EEEEEE;border:1px dotted #CCCCCC;">
	<div style="width:330px;margin:auto;border-right:1px dotted #CCCCCC;border-left:1px dotted #CCCCCC;">
		<div style="background-color:#333333;padding:10px 0px 10px 2px">
	    	<a href="{{home}}">
	    		<img alt="Logo" width="110px" height="30px" src="http://www.snapswer.com/static/images/logo_snapswer_nav.png"/>
	    	</a>
			<a class="pull-right" style="color:white" href="{{home}}"><span class="snapswer-icon-home"></span></a>
	    </div>

		<div style="background-color:white;padding-top:15px;border-top:dotted 1px #333333;">
			<div style="text-align:center;">
				<a href="http://www.snapswer.com/content/board/{{question_id}}/">
					<img alt="Snapswer" width="{{img_width}}" height="{{img_height}}" style="background-color: #f5f5f5;border: 1px solid #999;-moz-border-radius: 0px;-webkit-border-radius: 0px;-moz-box-shadow: 1px 1px 1px 1px #ccc; -webkit-box-shadow: 1px 1px 1px 1px #ccc; box-shadow: 0.2px 0.2px 10px #666;border-radius: 0px;cursor: pointer;" src="{{ snapswer_img }}"/>
				</a>
			</div>

			<div style="background-color:white;padding-top: 20px;padding-bottom: 20px;text-align:center">
				<a style="color:#1F1919;font-size:20px;" href="http://www.snapswer.com/content/board/{{question_id}}/">{{title}}</a>
			</div>
		</div>
	</div>
</div>