
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}

        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"></link>
        <link rel="stylesheet" href="{% static "fancyBox/source/jquery.fancybox.css" %}" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static "css/detail.css" %}"></link>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}"></link>

        <!-- jquery -->
        <script src="{% static "jquery/jquery-2.0.3.js" %}"></script>
        <!-- jquery-cookie-library -->
        <script src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
        <!-- jquery fancybox -->
        <script src="{% static "fancyBox/source/jquery.fancybox.pack.js" %}"></script>
        <!-- bootstrap -->
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <!-- mustache -->
        <script src="{% static "mustache/mustache.js" %}"></script>
        <!-- wookmark -->
        <script src="{% static "wookmark/jquery.wookmark.js" %}"></script>
        <!-- spinner -->
        <script src="{% static "spin.min.js" %}"></script>
        <!-- day -->
        <script src="{% static "moment/moment.min.js" %}"></script>
    </head>
    <body class="tw-bs">
        <div>
            <div>
                <img width="50px" height="80px" class="pull-left" style="overflow:auto;clear:both;padding-right:10px" src="/media/{{answer.owner.profile.profile_pic}}"/>
                <div style="display:inline">
                    <span>{{answer.owner}}</span>
                    <a href="javascript:void(0)" onClick="followSnapswerUser();">
                        <span style="font-size:14px" id="follow_label{{answer.id}}">Follow</span>
                    </a><br>
                    <small id="answer_date_label"></small><br>
                    <a href="javascript:void(0)" onClick="likeSnapswer();">
                        <span style="font-size:14px" id="like_label{{answer.id}}">Like</span><span class="label" id="like_count_label{{answer.id}}" style="margin-left:5px">{{answer.get_vote_count}}</span>
                    </a>
                </div>
            </div>
            <div style="clear:both;padding-top:10px" align="center">
                <img src="{{image.url}}" style="display:block;padding-bottom:20px"/>
            </div>
            <hr>
            <div style="display:block">
                <img width="50px" height="80px" class="pull-left" style="padding-right:10px" src="/media/{{user.profile.profile_pic}}"/>
                <textarea id="commentTextArea" rows="3" class="pull-left" style="width:260px" placeholder="comment"></textarea>
                <button type="button" onClick="submitComment();" class="pull-right btn btn-primary">Send</button>
            </div>
            <hr style="clear:both">
            <div style="width:100%" id="comments">
            <p id="comment_count_label">{{comments.count}} Comments</p>
            {% for comment in comments %}
                <hr style="clear:both">
                <img width="50px" height="80px" class="pull-left" style="padding-right:10px" src="/media/{{comment.owner.profile.profile_pic}}"/>
                <p style="font-weight:bold">{{comment.owner}}</p>
                <p class="pull-right" id="comment_date_label{{comment.id}}"></p>
                <p>{{comment.detail}}</p>
            {% endfor %}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#answer_date_label").html(moment(moment.unix({{answer.modified|date:"U"}}), "YYYY-MM-DDThh:mm:ss").fromNow());
                {% for comment in comments %}
                    $("#comment_date_label{{comment.id}}").html(moment(moment.unix({{comment.modified|date:"U"}}), "YYYY-MM-DDThh:mm:ss").fromNow());
                {% endfor %}
                var csrftoken = $.cookie('csrftoken');
                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                });
                {% if liked %}
                $("#like_label"+{{answer.id}}).html("Unlike");
                {% else %}
                $("#like_label"+{{answer.id}}).html("Like");
                {% endif %}

                {% if followed %}
                $("#follow_label"+{{answer.id}}).html("Unfollow");
                {% else %}
                $("#follow_label"+{{answer.id}}).html("Follow");
                {% endif %}
            });
            function submitComment() {
                var comment = document.getElementById("commentTextArea").value;
                $.ajax({ type: "POST",
                    url: "/content/comment/add/"+{{answer.id}}+"/",
                    context: this,
                    data: { detail: comment },
                    success: function(data) {
                        $("#comment_count_label").html(data.data.comment_count+' Comments');
                        $("#comments").append('<hr style="clear:both"><img width="50px" height="80px" class="pull-left" style="padding-right:10px" src="/media/{{user.profile.profile_pic}}"/><p style="font-weight:bold">{{user}}</p><p class="pull-right">'+moment(moment(), "YYYY-MM-DDThh:mm:ss").fromNow()+'</p><p>'+comment+'</p>')
                    }
                });
            }
            function likeSnapswer() {
                $.ajax({ type: "POST",
                    url: "/content/vote/answer/"+{{answer.id}}+"/",
                    success: function(data) {
                        $("#like_count_label"+{{answer.id}}).html(data.data.count);
                        if (data.data.action == "voted") {
                            $("#like_label"+{{answer.id}}).html("Unlike");
                        } else {
                            $("#like_label"+{{answer.id}}).html("Like");
                        }
                    }
                });
            }
            function followSnapswerUser() {
                $.ajax({ type: "POST",
                    url: "/accounts/follow/user/"+{{answer.owner.id}}+"/",
                    success: function(data) {
                        if (data.data.action == "follow") {
                            $("#follow_label"+{{answer.id}}).html("Unfollow");
                        } else {
                            $("#follow_label"+{{answer.id}}).html("Follow");
                        }
                    }
                });
            }
        </script>
    </body>
</html>

